body {
  background: #1E1E23;
  margin: 0;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.navigation {
  box-sizing: border-box;
  background-color: #BFCDE0;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 10vh;
  justify-content: space-between;;
  display: flex;
  margin: 0;
  align-items: center;
}

#profile {
  width: 100px;
  display: inline-block;
  margin-left: auto;
  border-radius: 14px;
  transition: background-color 0.3s, opacity 0.3s, padding 0.3s;
  padding: 8px 8px 6px 10px;
}

#currentDate {
  background-color: #A5B5D2;
  opacity: 0.80;
  padding: 8px 8px 6px 10px;
  border-radius: 10px;
}

.date-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

h1 > a {
  color: #efefef;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  color: #efefef;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: #FFF;
}

#profile:hover {
  background-color: #8B9DC4;
  opacity: 0.80;
  padding: 8px 8px 6px 10px;
}

/* Articles */


.article-section {
  display: flex;
  flex-wrap: wrap;
}

.featured-article,
.secondary-articles {
  flex: 0 0 50%;
  color: #c6c6c6;
  padding-left: 60px;
  padding-top: 40px;
  background-color: #1E1E23;
  box-sizing: border-box;
}

.article-preview {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.article-preview img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

/* Tickers */

.ticker-container {
  position: fixed;
  color: #2a2a30;
  right: 0;
  width: 30vh;
  height: 100vh;
  background-color: #c6c6c6;
  border-left: 6px solid #ddd;
  border-right: 6px solid #ddd;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  overflow: hidden;
}

.ticker-wrapper {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.time-display {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: auto;
}

.ticker {
  animation: scroll 10s linear infinite;
  padding-top: 300%;
}

.ticker-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.change.negative {
  color: rgb(255, 67, 67);
}

.change.positive {
  color: rgb(20, 134, 20);
}

.change-percent.negative {
  color: rgb(255, 67, 67);
}

.change-percent.positive {
  color: rgb(20, 134, 20);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Search bar */ 

.topnav .search-container {
  position: relative;
  width: 40vh;
  height: 4.5vh;
  bottom: 1px;
  display: flex;
}

.topnav input[type="text"] {
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 14px;
  float: left; 
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 16px;
  border: none;
}

.topnav .search-container button {
  position: absolute;
  right: 0; 
  float: none;
  height: 112%;
  width: 20%;
  border-radius: 14px;
  background: #A5B5D2;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #8B9DC4;
}

.topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 2.5vh;
}

/* End of search bar */

/* CSS for profile.html and signup.html */

header {
  text-align: center;
  margin-bottom: 30px;
}

.navigation_profile {
  box-sizing: border-box;
  background-color: #BFCDE0;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.navigation_profile > li {
    float: right;
  }

.card {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 25%; 
  align-items: center;
  margin: 0 auto;
  padding: 170px 30px;
  padding-bottom: 3vh;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 100px 100px
  rgba(255, 255, 255, 0.1);
  background-color: #ffffff
}

.card::before {
  content: "";
  position: absolute;
  top: -880px;
  left: 50%;
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #A5B5D2;
}

.card_signup {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 25%; 
  align-items: center;
  margin: 0 auto;
  padding: 170px 30px;
  padding-bottom: 10vh;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 100px 100px
  rgba(255, 255, 255, 0.1);
  background-color: #ffffff
}

.card_signup::before {
  content: "";
  position: absolute;
  top: -880px;
  left: 50%;
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #A5B5D2;
}

.card_signup .logo {
  position: absolute; 
  top: 25px;
  left: 50%;
  translate: -50% 0;
  width: 84px;
  height: 84px;
}


.card_signup > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 3vh;
  color: rgb(0 0 0 / 48%)
}

.name-fields {
  display: flex;
  gap: 10px;
}

.input-container {
  flex: 1;
  position: relative;
}

.card_signup .form_signup input[type="text"] {
  padding-left: 24px;;
  width: 100%;
  box-sizing: border-box;
  background-color: #ededed;
  border-width: 0px;
  /* Add any other desired styles for input fields */
}

.card_signup .form_signup input[type="text"]::placeholder {
  color: rgb(0 0 0 / 28%)

}

.card_signup .form_signup label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.card_signup .signup_footer {
  color: #a1a1a1;
}

.card_signup .signup_footer > a {
  color: #FFB061;
}

.form_signup {
  margin: 0 auto;
  padding-bottom: 2vh;
  display: grid;
  gap: 12px;
}

.form_signup
:is(input, button) {
  height: 56px;
  border-radius: 28px;
  font-size: 16px;
  font-family: inherit;
}

.form_signup > input {
  border: 0;
  padding: 0 24px;
  color: #222222;
  background-color: #ededed;
}

.form_signup > input::placeholder {
  color: rgb(0 0 0 / 28%)
}

.form_signup > button {
  border: 0;
  color: #f9f9f9;
  background-color: #90a6d0;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.background::after {
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -55vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #143d81;
}

.card .logo {
  position: absolute; 
  top: 25px;
  left: 50%;
  translate: -50% 0;
  width: 84px;
  height: 84px;
}

.card > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 3vh;
  color: rgb(0 0 0 / 48%)
}

.form {
  margin: 0 auto;
  padding-bottom: 2vh;
  display: grid;
  gap: 12px;
}

.form 
:is(input, button) {
  height: 56px;
  border-radius: 28px;
  font-size: 16px;
  font-family: inherit;
}

.form > input {
  border: 0;
  padding: 0 24px;
  color: #222222;
  background-color: #ededed;
}

.form > input::placeholder {
  color: rgb(0 0 0 / 28%)
}

.form > button {
  border: 0;
  color: #f9f9f9;
  background-color: #90a6d0;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.card > .profile_footer {
  color: #a1a1a1;
}

.card > .profile_footer > a {
  color: #FFB061;
}

/* End of profile.html */

/* contact.html */

.navigation_contact {
  box-sizing: border-box;
  background-color: #BFCDE0;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.navigation_contact > li {
  display: inline-block;
}

.contact-wrapper {
  display: flex;
}

.contact_card {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-left: 40vh;
  margin-top: 2vh;
  margin-bottom: 10vh;
  z-index: 3;
  width: 25%;
  padding: 30px 50px 44px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 100px 100px
  rgba(255, 255, 255, 0.1);
  background-color: #ffffff
}

.contact_card::before {
  content: "";
  position: absolute;
  top: -880px;
  left: 98%;
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #A5B5D2;
}

.contact_form > input {
  border: 0;
  border-radius: 12px;
  padding: 18px 20px;
  color: #222222;
  background-color: #ededed;
}

.contact_form > textarea {
  font-family: sans-serif;
  border: 0;
  border-radius: 12px;
  padding: 18px 20px;
  color: #222222;
  background-color: #ededed;
  max-width: 89%; 
  max-height: 90px; 
  overflow-y: auto;
}

.contact_form input[type="email"] {
  width: 90%;
  padding: 18px;
  border: 0;
  border-radius: 12px;
}

.contact_form > button {
  border: 0;
  color: #FFF;
  background-color: #A5B5D2;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px 20px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 15px;
}

.contact h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: left;
  padding-left: 220px;
  padding-top: 60px;
}

.contact h4 {
  color: #efefef;
  font-size: 22px;
  padding-left: 220px;
}

/* End of contact.html */

/* Pop-up after submitting the contact form */

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup.active {
  display: block;
}

.close-button > button {
  border: 0;
  border-radius: 10px;
  color: #efefef;
  background-color: #BFCDE0;
  display: grid;
  place-items: center;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', sans-serif;
  width: 100%;
  height: 3.5vh;
}

/* End of pop-up after submitting contact form */

footer {
  background-color: #2A2A30;
  background-position: center;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  z-index: 9999; 
}

footer > h3 {
  right: 0;
  bottom: 0;
  padding: 0px 32px;
  position: absolute;
}

h3 a {
  text-decoration: none;
  color: #efefef;
}