body {
  background: #dcdcdc;
  margin: 0;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.navigation {
  box-sizing: border-box;
  background-color: #80c6df;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* CSS for profile.html */

header {
  text-align: center;
  margin-bottom: 30px;
}


.navigation_profile {
  box-sizing: border-box;
  background-color: #80c6df;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.card {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 25%; 
  align-items: center;
  margin: 0 auto;
  padding: 170px 30px 54px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 100px 100px
  rgb(0 0 0 / 10%);
  background-color: #ffffff
}

.card::before {
  content: "";
  position: absolute;
  top: -880px;
  left: 50%;
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #086788;
}

.background::after {
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -55vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #143d81;
}

.card .logo {
  position: absolute; 
  top: 25px;
  left: 50%;
  translate: -50% 0;
  width: 84px;
  height: 84px;
}

.card > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 38px;
  color: rgb(0 0 0 / 48%)
}

.form {
  margin: 0 0 44px;
  display: grid;
  gap: 12px;
}

.form 
:is(input, button) {
  height: 56px;
  border-radius: 28px;
  font-size: 16px;
  font-family: inherit;
}

.form > input {
  border: 0;
  padding: 0 24px;
  color: #222222;
  background-color: #ededed;
}

.form > input::placeholder {
  color: rgb(0 0 0 / 28%)
}

.form > button {
  border: 0;
  color: #f9f9f9;
  background-color: #086788;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.card > .profile_footer {
  color: #a1a1a1;
}

.card > .profile_footer > a {
  color: #086788;
}

/* End of profile.html */

/* contact.html */

.contact-wrapper {
  display: flex;
}

.contact_card {
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
  z-index: 3;
  width: 25%;
  padding: 30px 50px 54px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 100px 100px
  rgb(0 0 0 / 10%);
  background-color: #ffffff
}

.contact_form > input {
  border: 0;
  border-radius: 12px;
  padding: 18px 20px;
  color: #222222;
  background-color: #ededed;
}

.contact_form > textarea {
  font-family: sans-serif;
  border: 0;
  border-radius: 12px;
  padding: 18px 20px;
  color: #222222;
  background-color: #ededed;
  max-width: 89%; 
  max-height: 90px; 
  overflow-y: auto;
}

.contact_form input[type="email"] {
  width: 90%;
  padding: 18px;
  border: 0;
  border-radius: 12px;
}

.contact_form > button {
  border: 0;
  color: #FFF;
  background-color: #086788;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px 20px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 15px;
}

.contact h1 {
  font-size: 60px;
  text-align: left;
  padding-left: 220px;
  padding-top: 60px;
}

.contact h4 {
  color: rgb(45, 45, 45);
  font-size: 22px;
  padding-left: 220px;
}

/* End of contact.html */

h1 {
  color: rgb(45, 45, 45);
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 8px 6px 10px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: #FFF;
}

li:hover {
  background-color: rgb(45, 45, 45);
  opacity: 0.80;
  padding: 8px 8px 6px 10px;
  border-radius: 10px;
}

footer {
  background-color: #a1a1a1;
  background-position: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 8px 10px;
  height: 38px; 
}

h3 {
  right: 0;
  bottom: 0;
  padding: 0px 14px;
  position: absolute;
}

h3 a {
  text-decoration: none;
  color:#222222
}